<h2>{{car.name}}</h2>

{{#if session.loggedUser}}
{{#if favorited}}
<form action="/car/{{car._id}}/unfavorite" method="POST">
    <button type="submit">Remove from favorites</button>
</form>
{{else}}
<form action="/car/{{car._id}}/favorite" method="POST">
    <button type="submit">Add to favorites</button>
</form>
{{/if}}
{{/if}}