<h2>Cars view</h2>

<form action="/cars" method="POST">
    <select name="sort">
        <option value="AZ">
            A-Z
        </option>
        <option value="ZA">
            Z-A
        </option>
        <option value="favAsc">
            Favorites (Asc)
        </option>
        <option value="favDesc">
            Favorites (Desc)
        </option>
    </select>

    <button type="submit">Apply filter</button>
</form>

{{#each cars}}
<img src="{{this.icon}}" />
<a href="/car/{{this._id}}">{{this.name}}</a>
<p>Favorited: {{this.timesFavorited}}</p>
{{/each}}