<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex flex-column align-items-center bg-dark bg-opacity-75">
        <h2 class="text-white">Welcome to Rocket Garage</h2>
    </div>
</div>