<div class="container d-flex justify-content-center align-items-center h-75 w-50">
    <div class="text-center text-white">
        <h2>Welcome to Rocket Garage</h2>
        <p>Rocket Garage is a little application that lets you see information about single car in the game Rocket
            League. You can check out attributes such as the rarity, hitbox, and variants, aswell as registering and
            saving your favorites. Additionally there's links to the wiki page of every car for the
            full in-depth details.</p>
        <a class="btn btn-light fw-bold" href="/cars">Check out the cars</a>
    </div>
</div>