<div class="container d-flex justify-content-center align-items-center h-75 w-75">
    <div class="text-center text-white">
        <h1>Welcome to Rocket Garage</h1>
        <p class="fs-5">Rocket Garage lets you see information about some of the cars in the game Rocket
            League, attributes such as the rarity, hitbox, variants... you can also register and save your favorites.
            Additionally there's links to the wiki page of each car for the
            full in-depth details.</p>
        <a class="btn btn-light fw-bold fs-5" href="/cars">Check out the cars</a>
    </div>
</div>

{{>footNote}}