<div class="container vh-100 d-flex justify-content-center align-items-center">

    <form action="/login" method="POST" class="bg-light p-3">

        <h3>Log In</h3>
        <hr>

        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="usernameInput">
        </div>

        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="passwordInput">
        </div>

        {{#if msg}}
        <p class="text-success">{{msg}}</p>
        {{/if}}

        {{#if errorMsg}}
        <p class="text-danger">{{errorMsg}}</p>
        {{/if}}

        <button type="submit" class="btn btn-primary">Log In</button>

    </form>

</div>