<div class="container d-flex justify-content-center align-items-center h-75 w-50">

    <form action="/login" method="POST" class="bg-dark p-3 rounded text-white w-100">

        <h3>Log In</h3>
        <hr>

        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="usernameInput" required>
        </div>

        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="passwordInput" required>
        </div>

        {{#if msg}}
        <p class="text-success">{{msg}}</p>
        {{/if}}

        {{#if errorMsg}}
        <p class="text-danger">{{errorMsg}}</p>
        {{/if}}

        <button type="submit" class="btn btn-primary">Log In</button>

        <p class="mt-3">Don't have an account? <a href="/signup">Sign Up!</a></p>
        <p class="mt-3">Test account: <span class="fw-bold text-primary">RGTest, RG_123456</span></p>

    </form>

</div>