body {
  margin: 0 !important;
  padding: 0 !important;
}

.bg-image {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url(../images/Dominus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.car-card {
  background-color: black !important;
}
