body {
  margin: 0 !important;
  padding: 0 !important;
}

#bg-image {
  background-image: url(https://rocketleague.media.zestyio.com/rl_platform_keyart_2019.309bf22bd29c2e411e9dd8eb07575bb1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.car-card {
  background-color: black !important;
}
