body {
  margin: 0 !important;
  padding: 0 !important;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.70)),
    url(../images/Dominus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#auth-buttons {
  width: 17.5%;
}

#auth-buttons a {
  width: 45%;
}

.car-card {
  background-color: black !important;
}
